<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="js/theme.js" defer></script>
    <script src="js/main.js" defer></script>
    <title>CEPUWUH DUA</title>
</head>
<body>
    <input type="checkbox" class="theme-btn" id="darkmode-toggle"/>
<!-----home----->
<nav>
    <div class="nav-links" id="navLinks">
        <i class="fi fa fa-times" onclick="hidemenu()"></i>
        <ul>
                <li><a class="navb" href="/">HOME</a></li>
                <li><a class="navb" href="/about">ABOUT</a></li>
                <li><a class="navb" href="#X-2">X-2</a></li>
                <li><a class="navb" href="/foto">FOTO</a></li>
                <li><a href="/setting"><i class="fu fa fa-cog"></i></a></li>
        </ul>
    </div>
    <i class="fa fa-bars" onclick="showmenu()"></i>
</nav>
<header>
    <div class="text-box">
        <img src="img/reseptwo.jpg"></a>
        <h1>X-2</h1>
        <p>Part of SMA Labschool UPI Cibiru</p>
        <!--<button onclick="ToggleTheme()" class="hero-btn">Dark Mode</button>-->
    </div>
</header>
    

<!-----X-2----->
<section id="X-2">
    <div class="title-text">
        <h1>X-2</h1>
    </div>
    <div class="box">
        <div class="X-2-box">
            <div class="single-box">
                <img src="img/ppx-2/adiva.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/adiva" class="nama-btn">ADIVA SASIKIRANA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/pp1.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/adrian" class="nama-btn">ADRIAN RAJENDRA WAHYUDI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/faiz.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/akhmad" class="nama-btn">AKHMAD FAIZ ARYANSYAH</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/pp1.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/anissa" class="nama-btn">ANISSA NUR KRESANDRA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/pp1.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/ansar" class="nama-btn">ANSAR RASYIDI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/daniel.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/daniel" class="nama-btn">DANIEL ARIF WICAKSANA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/dzia.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/dzia" class="nama-btn">DZIANIDA FEBRY AZZAHRA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/emir.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/emir" class="nama-btn">EMIRSYAH AKBAR SHAFA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/febri.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/fahri" class="nama-btn">FAHRI FEBRIAN PRASETYO</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/ghaisan.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/ghaisan" class="nama-btn">GHAISAN ALFARISI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/ghea.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/ghea" class="nama-btn">GHEA HILMI ALLIYA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/hakim.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/hanan" class="nama-btn">HANAN RAY MAULANA HAKIM</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/idelia.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/idelia" class="nama-btn">IDELIA ADINDA RAHMADANI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/keisya.png">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/keisya" class="nama-btn">KEISYA NADIEN SISWANTORO</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/khalila.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/khalila" class="nama-btn">KHALILA ALIYA NIRMALA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/nabil.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/maulana" class="nama-btn">MAULANA NABIL AR RASYID</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/parhan.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/muhfarhan" class="nama-btn">MUHAMMAD FARHAN RAUSAN FIKRI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/fauzi.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/muhfauzi" class="nama-btn">MUHAMMAD FAUZI RAMADHANI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/yaga.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/muhyaga" class="nama-btn">MUHAMMAD YAGA WIRATAMA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/naila.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/naila" class="nama-btn">NAILA RAHMAH ASFAHANI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/nara.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/naraya" class="nama-btn">NARAYA KIRANA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/radit.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/raditya" class="nama-btn">RADITYA AZKA DANISWARA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/raisya.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/raisya" class="nama-btn">RAISYA SELFIANI JANPRILIA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/WhatsApp Image 2024-01-17 at 20.49.12.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/rajwa" class="nama-btn">RAJWA NADYA ULYA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/reva.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/reva" class="nama-btn">REFA PUBIAN SYAKIRA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2//salisah.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/salisah" class="nama-btn">SALISAH RAYSA PUTRI</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/salma.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/salma" class="nama-btn">SALMA KHAIRANI MAGHFIRAH</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/vani.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/sheilvani" class="nama-btn">SHEILVANI FITRIAN SYAH</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/Shifwah.jpeg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/shifwah" class="nama-btn">SHIFWAH MURRAN NASHIFA</a>
                </div>
            </div>
            <div class="single-box">
                <img src="img/ppx-2/vito.jpg">
                <div class="overlay"></div>
                <div class="nama">
                    <a href="/vito" class="nama-btn">VITO VALIANT PRATAMA</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!----wali kelas----->
<section id="walikelas">
    <div class="title">
        <div class="title-box">
            <h1>WALI KELAS</h1>
        </div>
    </div>
    <div class="walikelas-box">
        <div class="walikelas">
            <h1>M. AULIA GHOFUR</h1>
            <br>
            <div class="walikelas-bio">
                <p>M. Aulia Ghofur, S.Pd., atau dikenal dengan panggilan "Pak Ghofur", adalah wali kelas untuk kelas X-2 di 
                    SMA Labschool UPI Cibiru. Selain menjadi wali kelas, Pak Ghofur merupakan guru mata pelajaran Informatika 
                    dan guru seni media visual. 
                    <br> <br> Pak Ghofur dikenal sebagai seorang guru yang santai dan perhatian terhadap murid-muridnya. 
                    Beliau sering berinteraksi dengan siswa-siswi bila memiliki waktu luang, yang membuat mereka lebih senang
                     untuk belajar dengannya.
                   </p>
            </div>
            <div class="med-link">
                <div class="med-link-box">
                    <a href="https://www.instagram.com/muhmmdghofur/"><img src="img/ig logo.png"></a>
                </div>
            </div>
        </div>
        <div class="walikelas-img">
            <img src="img/pa opul.jpg">
        </div>
    </div>
</section>

<!----foto----->
<section id="foto">
    <div class="foto">
        <div class="foto-box">
            <div class="single-foto">
                <img src="img/background.jpeg">
            </div>
            <div class="single-foto">
                <img src="img/photo/MPD09456.JPG">
            </div>
            <div class="single-foto">
                <img src="img/photo/WhatsApp Image 2024-01-15 at 06.43.53.jpeg">
            </div>
            <div class="link-foto">
                <a href="/foto" class="hero-btn">MORE</a>
            </div>
        </div>
    </div>
    <div class="popup-foto">
        <span>&times;</span>
        <img src="img/background.jpeg">
    </div>
    <!---<div class="credit">
        <div class="credit-box">
            <p>FAUZI RAMADHANI</p>
        </div>
    </div>-->

</section>
</body>
</html>
