<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/setting.css">
    <link rel="stylesheet" type="text/css" href="css/setting.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="js/theme.js" defer></script>
    <title>Setting</title>
</head>
<body>
    <nav>
        <div class="nav-links" id="navLinks">
            <i class="fi fa fa-times" onclick="hidemenu()"></i>
            <ul>
                <li><a class="navb" href="/">HOME</a></li>
                <li><a class="navb" href="/about">ABOUT</a></li>
                <li><a class="navb" href="/#X-2">X-2</a></li>
                <li><a class="navb" href="/foto">FOTO</a></li>
                <li><a href=""><i class="fu fa fa-cog"></i></a></li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showmenu()"></i>
    </nav>
    <section id="page">
        <div class="side-bar">
            <div class="side-links">
                <h2>Setting</h2>
                <ul>
                    <li class="theme"><a href="Theme.html">Theme</a></li>
                    <li class="bla"><a href="Theme.html">bla bla bla bla</a></li>
                </ul>
            </div>
        </div>
        <div class="isi">
            <div class="theme-opt">
                <h2>Theme</h2>
                <div class="tampilan">
                    <p>Dark Mode</p>
                    <input type="checkbox" class="theme-btn" id="darkmode-toggle"/>
                </div>
            </div>
        </div>
    </section>
</body>
</html>