* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.theme-btn {
    display: none;
}

.dark-mode {
    nav {
        &.active {
            background: #28282B;

            .nav-links ul li a {
                color: #fff;
            }

            .nav-links ul li .fu {
                color: #fff;
            }
        }
    }

    @media(max-width: 700px) {
        nav {
            &.active {
                .fa {
                    color: #fff;
                }

                .fi {
                    color: #fff;
                }
            }
        }

        .nav-links {
            background: #28282B;
        }

        .fi {
            color: #fff;
        }

        .nav-links ul li a {
            color: #fff;
        }
    }

    .sec-foto {
        background: #1a1a1c;
    }

    .server-image {
        background: #1a1a1c;
    }

    .upload-page {
        background: #151517;

        .input-div,
        .queued-div {
            background: #1a1a1c;

            p,
            .browse {
                color: #fff;
            }
        }

        button {
            background: #1a1a1c;
            border-color: #1a1a1c;
            color: #fff;
        }
    }

    .app .header p {
        color: #fff;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF894C;
    border-radius: 7.5px;
}

body::-webkit-scrollbar-track {
    background: white;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

    .foto-text {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: relative;
        text-align: center;
        flex-direction: column;

        h1 {
            font-size: 80px;
        }

        .upload-btn {
            position: relative;
            text-align: center;
            margin-top: 80px;
            margin-bottom: 20px;
        }

        .hero-btn {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            padding: 12px 34px;
            font-size: 13px;
            background: transparent;
            position: relative;
            cursor: pointer;

        }

        .hero-btn:hover {
            border: 1px solid #FF894C;
            background: #FF894C;
            transition: 1s;

        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.3s;

    &.active {
        box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.2);
        background: #ffffff;

        .nav-links ul li a {
            color: #000000;
            transition: 0.3s;
        }

        .nav-links ul li .fu {
            color: #000000;
        }
    }

    .nav-links {
        flex: 1;
        text-align: right;
        margin: 10px;
    }

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
        position: relative;

        .fu {
            display: block;
            color: #fff;
        }
    }

    .nav-links ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 17px;

    }

    .nav-links ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #FF894C;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .nav-links ul li:hover::after {
        width: 100%;
    }

    .fa {
        display: none;
        padding: 10% 10%;
    }
}


@media(max-width: 700px) {
    nav {
        height: 50px;
        justify-content: flex-end;

        &.active {
            .fa {
                color: #000000;
                transition: 0.3s;
            }

            .fi {
                color: #000000;
                transition: 0.3s;
            }
        }

        .nav-links {
            position: absolute;
            background: #ffffff;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -700px;
            text-align: left;
            z-index: 2;
            transition: 1s;
            margin: 0;
            box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
        }

        .nav-links ul li {
            display: block;
        }

        .nav-links ul li a {
            color: #000000;
        }

        .nav-links ul {
            padding: 30px;
        }

        .fa {
            display: block;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            padding: 15px;
        }

        .fi {
            display: block;
            color: #000000;
            font-size: 22px;
            cursor: pointer;
            padding: 15px;
        }
    }

    .foto-text h1 {
        font-size: 40px;
    }
}

.sec-foto {
    background: #ffffff;
    width: 100%;
    padding: 70px;
}

.container {
    position: relative;
    min-height: 100vh;
}

.foto-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;

}

.foto {
    width: 300px;
    height: 300px;
    border-radius: 7px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.foto img:hover {
    transform: scale(1.1);
}

.popup-foto {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-foto span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-foto img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1850px;
    height: 100vh;
    object-fit: contain;
}

@media (max-width:700px) {
    .popup-foto img {
        width: 95%;
    }
}

.server-image {
    padding: 70px;

    .container2 {
        position: relative;
        min-height: 100vh;

        .saved-div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            padding: 10px;

            .image {
                width: 300px;
                height: 300px;
                border-radius: 7px;
                overflow: hidden;
                cursor: pointer;
                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
            }

            .image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s linear;
                position: relative;
            }

            .image img:hover {
                transform: scale(1.1);
            }

            .image span {
                position: absolute;
                top: -4px;
                right: 4px;
                cursor: pointer;
                font-size: 22px;
                color: black;
                z-index: 100;
            }
        }
    }

    .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 100%;
        z-index: 100;
        display: none;
    }

    .popup-container span {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }

    .popup-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1850px;
        height: 100vh;
        object-fit: contain;
    }

    .close-popup {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        color: white;
        cursor: pointer;
    }
}

.upload-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

button {
    padding: 10px;
    width: 100px;
    color: black;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    text-align: center;
}

button::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #FF894C;
    display: block;
    margin: auto;
    transition: 0.5s;
}

button:hover::after {
    width: 100%;
}

.app {
    max-width: 1224px;
    width: 92%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.header p {
    min-width: fit-content;
    font-size: 22px;
}

.server-message {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
}

.input-div {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

.input-div .browse {
    color: black;
    font-weight: bold;
}

.file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.asaved-div,
.queued-div {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.asaved-div .image,
.queued-div .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.asaved-div .image:nth-child(4n),
.queued-div .image:nth-child(4n) {
    margin-right: 0;
}

.asaved-div .image img,
.queued-div .image img {
    height: 100%;
    width: 100%;
}

.asaved-div .image span,
.queued-div .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: black;
}

.asaved-div .image span:hover,
.queued-div .image span:hover {
    opacity: 0.8;
}

.asaved-div .span--hidden,
.queued-div .span--hidden {
    visibility: hidden;
}