* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow: overlay;
}
.dark-mode{
    nav{
        background: #28282B;
        .nav-links ul li a{
            color: #fff;
        }
        .nav-links ul li .fu{
            color: #fff;
        }
    }
    @media(max-width: 700px){
        nav{
            &.active{
                .fa{
                    color: #fff;
                }
                .fi{
                    color: #fff;
                }
            }
        }
        .nav-links{
            background: #28282B;
            z-index: 100;
        }
        .fi{
            color: #fff;
        }
        .nav-links ul li a{
            color: #fff;
        }
    }
    #page{
        background: #1a1a1c;
        .side-bar{
            background: #1a1a1c;
            .side-links{
                h2{
                    color: #fff;
                }
                ul li a{
                    color: #fff;
                }
                
            }
        }
        .isi{
            .theme-opt{
                color: #fff;
            }
        }
    }
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    .nav-links {
        flex: 1;
        text-align: right;
        margin: 10px;
    }
    .nav-links ul li{
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
        position: relative;
        .fu{
            display: block;
            color: #000000;
        }
    }
    .nav-links ul li a{
        color: #000000;
        text-decoration: none;
        font-size: 17px;
    
    }
    .nav-links ul li .navb::after{
        content: '';
        width: 0%;
        height: 2px;
        background:#FF894C;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li .navb:hover::after{
        width: 100%;
    }
}

nav .fa{
    display: none;
    padding: 10% 10%;
}
nav .fi{
    display: none;
    padding: 10% 10%;
}
@media(max-width: 700px){
    nav{
        height: 50px;
        justify-content: flex-end;
        &.active{
            .fa{
                color: #000000;
                transition: 0.3s;
            }
            .fi{
                color: #000000;
                transition: 0.3s;
            }
        }
        .nav-links{
            position: absolute;
            background: #ffffff;
            height: 200vh;
            width: 200px;
            top: 0;
            right: -700px;
            text-align: left;
            z-index: 2;
            transition: 1s;
            margin: 0;
            box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
        }
        .nav-links ul li{
            display: block;
        }
        .nav-links ul li a{
            color: #000000;
        }

        .nav-links ul{
            padding: 30px;
        }
        .fa{
            display: block;
            color: #000000;
            font-size: 22px;
            cursor: pointer;
            padding: 15px;
        } 
        .fi{
            display: block;
            color: #000000;
            font-size: 22px;
            cursor: pointer;
            padding: 15px;
        }
    }
}
#page{
    background: #fff;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    .side-bar{
        background: #fff;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        .side-links{
            h2{
                margin: 20px;
            }
            ul{
                li{
                    list-style: none;
                    margin: 20px;
                    padding: 10px;
                    border-radius: 7px;
                    a{
                        color: #000000;
                        text-decoration: none;
                        font-size: 17px;
                    }
                }
            }
            ul .theme{
                background: #FF894C;
            }
        }
    }
    .isi{
        margin-top: 50px;
        .theme-opt{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            .tampilan{
                padding: 10px;
                font-size: 17px;
                display: flex;
                p{
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                }
                .theme-btn{
                    appearance: none;
                    width: 80px;
                    height: 40px;
                    background: linear-gradient(to right, #e7e7e7 50%, #28282B 50%) no-repeat;
                    background-size: 200%;
                    background-position: 0;
                    transition: 0.3s;
                    border-radius: 100em;
                    position: relative;
                    cursor: pointer;
                    font-size: 17px;
                }
                .theme-btn::before{
                    content: "";
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    background: linear-gradient(to right, #e7e7e7 50%, #28282B 50%) no-repeat;
                    background-size: 200%;
                    background-position: 100%;
                    border-radius: 50%;
                    transition: 0.3s;
                }
                .theme-btn:checked::before{
                    left: calc(100% - 45px - -10px);
                    background-position: 0;
                }
                .theme-btn:checked{
                    background-position: 100%;
                }
            }
        }
    }
}